<h1>Create Character</h1>
<form action="/characters/create" method="POST">
    <label> Name<input type="text" name="name" required /> </label>
    <label>Occupation <input type="text" name="occupation" required /> </label>
    <label>Debt <input type="checkbox" name="debt" /> </label>
    <label>Weapon <input type="text" name="weapon" required /> </label>
    <button type="Submit">Create new</button>
</form>